* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
main {
    width: 100%;
    margin: 3px;
    padding: 0;
    display: flex;
    flex-direction: row;
}
.main_left {
    position: fixed;
    background-color: #F7F7F7;
    padding: 10px;
    border: 1px solid rgb(219, 213, 213);
    width: 15%;
    height: 100%;
    border-radius: 5px;
}
.main_right {
    width: 85%;
    margin-left: 200px;
}
.left_list {
    list-style: none;
}
.left_item-title {
    margin: 20px 0px;
    display: flex;
    margin-bottom: 30px;
}
.title_h3 {
    font-family: sans-serif;
    margin-left: 10px;
    font-size: 18px;
    margin-top: 5px;
}
.title_img {
    margin-left: 10px;
    object-fit: cover;
}
.left_item {
    padding: 10px;
    padding-bottom: 10px;
    color: #626264;
}
.left_item:hover {
    border-radius: 10px;
    background-color: #09B44D;
    color: white;
    
}
.left_item i {
    padding-right: 15px;
    font-size: 20px;
}
.left_item-link {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 15px;
    color: #525253;

}
nav {
    margin: 25px;
    display: flex;
}
.nav_div {
    margin-top: 25px;
    display: flex;
    margin: 0px 40px;
}
#navigator {
    margin-right: 12px;
    font-size: 20px;
    color: #09B44D;
}
.nav_div p {
    font-size: 15px;
    color: black;
}
#bag {
    margin-right: 10px;
    font-size: 20px;
    color: #FB6D3A;
}
#club {
    margin-right: 10px;
    font-size: 20px;
    color: #FACD5D;
}
#search {
    border: none;
    outline: none;
    border-radius: 5px;
    margin-top: -7px;
    height: 40px;
    width: 228px;
    background-color: #F7F7F7;
    padding-left: 35px;
    margin-right: 40px;
}
#center {
    margin-top: -10px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    padding: 13px;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    background-color: #2987D9;
}
#cart {
    margin-top: -10px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    padding: 13px;
    border-radius: 10px;
    font-size: 22px;
    color: white;
    background-color: #FB6D3A;
}
.boxes_div {
    display: flex;
    justify-content: space-around;
    margin: 35px 65px;
}
.box_div {
    padding: 25px 30px;
    height: 8%;
    width: 7%;
    border-radius: 10px;
    background-color: #F7F7F7;
    border:none;
    outline: none;
}
.box_div i {
    margin: 8px;
    display: flex;
    justify-content: center;
    padding: 14px 8px;
    border-radius: 10px;
    font-size: 22px;
    
}
#breakfast {
    background-color:  #FB6D3A;
    color: white;
}
#lunch {
    background-color: #09B44D;
    color: white;
}
#dinner {
    background-color: #FACD5D;
    color: white;
}
#cheap {
    background-color: #FB6D3A;
    color: white;
}
#moderate {
    background-color: #09B44D;
    color: white;
}
#expensive {
    background-color: #FACD5D;
    color: white;
}
.box_title {
    text-align: center;
    font-size: 15px;
    margin: 10px;
}
.box_cost {
    text-align: center;
    font-size: 12px;
}
.middle {
    display: flex;
    justify-content: space-between;
    margin: 35px 65px;
}
.middle_link {
    text-decoration: none;
    color: #09B44D;
}
form {
    display: flex;
    justify-content: space-around;
    margin: 35px 65px;
}
input {
    height: 35px;
    border-radius: 8px;
    width: 160px;
    padding-left: 20px;
    background-color: #F7F7F7;
    border: none;
    outline: none;
}
select {
    height: 35px;
    border-radius: 8px;
    width: 160px;
    padding-left: 20px;
    background-color: #F7F7F7;
    border: none;
    outline: none;
}
.form_btn {
    height: 32px;
    width: 130px;
    border: 1px solid #09B44D;
    color: #09B44D;
    background-color: white;
    border-radius: 8px;
    outline: none;
}
.form_btn:hover {
    background-color:#09B44D;
    color: white;
    border: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    margin: 45px 70px;
}
.con_img {
    border-radius: 9px;
}
.con_title {
    margin: 6px 15px;
    font-size: 17px;
}
.div {
    margin: 5px 15px;
    display: flex;
    justify-content: space-between;
}
.con_option {
    font-size: 14px;
    color: #2987D9;
}
.con_price {
    font-size: 13px;
    color: #FB6D3A;
}
.food {
    margin: 15px;
}